* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../assets/Gozo25-fondo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "PoppinsBold";
  src: url(../fonts/Poppins-Bold.ttf);
}
:root {
  --font-primary: "Poppins";
  --font-secondary: "PoppinsBold";
}
body,
input,
button {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

/* EStilos xerais */

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
}

.header__div {
  display: flex;
  /* margin: 3rem; */
}
.header__logo {
  width: 133px;
  height: 44px;
}
/* .btn__campana{
    margin: 1rem;
    
} */

.btn__avisa {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: var(--font-secondary);
  font-size: 15px;
}

.img__campana {
  width: 15px;
}

/* MAIN */

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20rem;
  flex-grow: 1;
  padding-top: 3rem;
}

@media (max-width: 768px) {
  body {
    height: 100%;
  }

  .main{
    gap: 5rem;
  }
}

.main__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__img {
  position: relative;
  top: 42px;
  left: 25%;
}

.img__circle {
  width: 3rem;
}

.letter {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: var(--font-secondary);
  font-size: 50px;
  letter-spacing: -1, 7px;
  text-align: center;
  line-height: 100px;
}
.letter__p {
  font-family: var(--font-primary);
  color: rgba(173, 173, 173, 1);
  text-align: center;
  line-height: 24px;
}
.btn__mercar {
  background: rgba(12, 174, 165, 1);
  color: white;
  font-family: var(--font-secondary);
  padding: 0.5rem;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.countdown__h3 {
  font-family: var(--font-secondary);
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 700;
  font-style: bold;
  text-align: center;
}

.countdown__p {
  font-family: var(--font-primary);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.countdown__separator {
  padding-bottom: 20px;
}

.poster {
  min-width: 200px;
  max-width: 350px;
}

.img__poster {
  max-width: 100%;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__p {
  font-family: var(--font-primary);
  color: #676c6c;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0, 28px;
}

.footer__img {
  width: 58px;
  height: 58px;
}

/* MODAL */


.modal{
   background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../assets/Gozo25-fondo.png);
    border: 4px solid white;
  width: 386px;
  height: 129px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem;
  display: none;
}

.modal__newsletter{
  display: flex;
  align-items: center;
  justify-content: center;
 margin-bottom: 10px;

}

.modal__input{
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 1rem;
  height: 48px;
}

.modal__input::placeholder{
  color: white;
}

.input__p{
  color: white;
}

.input__p span{
  color:rgba(12, 174, 165, 1) ;
}

.btn__modal{
  background: rgba(12, 174, 165, 1);
  color: white;
  font-family: var(--font-secondary);
  padding: 0.5rem;
  width: 150px;
  height: 48px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
}

